/******************************************************************
Site Name: VCUbar
Author: https://github.com/VCUarts

Stylesheet: Color Constants

******************************************************************/


/*********************
COLORS
*********************/
$black:  #000;
$grey:   #aab2b1;
$white:  #fff;