/******************************************************************
Site Name: 
Author: 

Stylesheet: Footer Stylesheet

******************************************************************/

.footer {

  margin-top: 100px;

	&__inner {

		@include container($wrapper-width);
    
	}

  .gh-btn {
    background-color: lighten($black, 80%);
    padding: 15px 20px;
    color: $black;
    text-decoration: none;
  }
}